<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-mac ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
豆瓣电影排行榜
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="电影排行榜、新片排行榜、豆瓣电影250"/>
    <meta name="description" content="豆瓣电影排行榜,提供最新电影排行榜、本周电影口碑榜和豆瓣电影TOP250" />

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/3e5dfc68b0f376484c50cf08a58bbca3700911dc/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/5ecaf46d6954d5a30bc7d99be86ae34031646e00/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/7014746226b5bef9.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/f5f3d66/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>Alex的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=ridW">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;199714520&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;199714520&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;199714520&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;199714520&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;199714520&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;199714520&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;199714520&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;199714520&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;199714520&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;199714520&quot;}">豆品</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;199714520&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "199714520",
    UPLOAD_AUTH_TOKEN: "199714520:5a552272fbd8b9d6489323876ddf874ddc8077ac",
    SSE_TOKEN: "6107c4167c043f088ebede189208def31944cdca",
    SSE_TIMESTAMP: "1586325448",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f5f3d66/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/f5f3d66/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/tag/"
     >分类</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2019?source=navigation"
     >2019年度榜单</a>
    </li>
    <li    ><a href="https://m.douban.com/standbyme/annual2019?source=navigation"
            target="_blank"
     >2019书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2019?source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f5f3d66/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>豆瓣电影排行榜</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    <h2>豆瓣新片榜   · · · · · · </h2>
    <div class="indent">
        





<div class="">
    <p class="ul first"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/34805219/"  title="饥饿站台">
                        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2566870171.jpg" width="75" alt="饥饿站台" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/34805219/"  class="">
                        饥饿站台
                        / <span style="font-size:13px;">饥饿斗室(港) / 绝命大平台(台)</span>
                    </a>



                    <p class="pl">2019-09-06(多伦多电影节) / 2019-11-08(西班牙) / 伊万·马萨戈 / 佐里昂·伊圭里奥尔 / 安东尼亚·圣胡安 / 埃米利奥·布阿勒 / 亚历山德拉·玛桑凯 / 马里奥·帕尔多 / 阿尔吉斯·阿洛斯卡斯 / 米莉安·马丁 / 西班牙 / elhoyolapelicula.com / 加尔德·加兹特鲁·乌鲁蒂亚...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar40"></span>
                                <span class="rating_nums">7.8</span>
                                <span class="pl">(124893人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_34805219"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/2364086/"  title="隐形人">
                        <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2582428806.jpg" width="75" alt="隐形人" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/2364086/"  class="">
                        隐形人
                        / <span style="font-size:13px;">隐身人 / 隐形客(港)</span>
                    </a>



                    <p class="pl">2020-02-28(美国) / 伊丽莎白·莫斯 / 奥利弗·杰森-科恩 / 阿尔迪斯·霍吉 / 迈克尔·多曼 / 斯托姆·瑞德 / 本尼迪克·哈迪 / 哈丽特·戴尔 / 瑞妮·林 / 布莱恩·米根 / 薇薇安·格里尔 / 尼古拉斯·霍普 / 克利夫·威廉姆斯 / 萨姆·史密斯...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar35"></span>
                                <span class="rating_nums">7.3</span>
                                <span class="pl">(81625人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_2364086"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/30211998/"  title="绅士们">
                        <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2592522995.jpg" width="75" alt="绅士们" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/30211998/"  class="">
                        绅士们
                        / <span style="font-size:13px;">疯狂绅士帮(港) / 绅士追杀令(台)</span>
                    </a>



                    <p class="pl">2020-01-24(美国) / 马修·麦康纳 / 查理·汉纳姆 / 亨利·戈尔丁 / 米歇尔·道克瑞 / 杰瑞米·斯特朗 / 科林·法瑞尔 / 休·格兰特 / 琳·勒内 / 马克斯·班内特 / 布列塔尼·阿什沃思 / 伊川东吾 / 尤金娜·库日敏娜 / 乔丹·朗 / 杰森·王 / 可可·萨姆纳...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar40"></span>
                                <span class="rating_nums">8.4</span>
                                <span class="pl">(46121人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_30211998"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/34670218/"  title="大赢家">
                        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2591946932.jpg" width="75" alt="大赢家" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/34670218/"  class="">
                        大赢家
                        / <span style="font-size:13px;">The Winners</span>
                    </a>


                        <span style="font-size: 13px; padding-left: 3px; color: #00A65F;">[可播放]</span>

                    <p class="pl">2020-03-20(中国大陆) / 大鹏 / 柳岩 / 代乐乐 / 张子贤 / 田雨 / 孟鹤堂 / 陶慧 / 许娣 / 王戈 / 杜源 / 阿如那 / 张绍荣 / 张帆 / 夏甄 / 杨砚铎 / 臧鸿飞 / 李萍 / 乔晟一 / 孟非 / 屈菁菁 / 腾格尔 / 叶晞月 / 杜维瀚 / 耿业庭 / 生港帅 / 黄涛...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar35"></span>
                                <span class="rating_nums">6.8</span>
                                <span class="pl">(120669人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_34670218"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/30182726/"  title="狩猎">
                        <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2585533507.jpg" width="75" alt="狩猎" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/30182726/"  class="">
                        狩猎
                        / <span style="font-size:13px;">猎逃生死战(港) / 猎捕</span>
                    </a>



                    <p class="pl">2020-03-13(美国) / 贝蒂·吉尔平 / 希拉里·斯万克 / 艾玛·罗伯茨 / 贾斯汀·哈特雷 / 伊克·巴里霍尔兹 / 格伦·豪尔顿 / 埃米·马迪根 / 梅肯·布莱尔 / 特瑞·韦伯 / 斯蒂芬·考特尔 / 韦恩·杜瓦尔 / J.C.麦肯泽 / 里德·伯尼 / 汉斯·马雷罗...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar35"></span>
                                <span class="rating_nums">7.2</span>
                                <span class="pl">(42305人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_30182726"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/27046758/"  title="逃离比勒陀利亚">
                        <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2589768805.jpg" width="75" alt="逃离比勒陀利亚" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/27046758/"  class="">
                        逃离比勒陀利亚
                        / <span style="font-size:13px;">钥命监狱(台)</span>
                    </a>



                    <p class="pl">2020-03-06(英国) / 丹尼尔·雷德克里夫 / 伊恩·哈特 / 丹尼尔·韦伯 / 内森·佩吉 / 斯蒂芬·亨特 / 马克·伦纳德·温特 / 珍妮特·克罗宁 / 山姆·尼尔 / Ratidzo Mambo / 英国 / 澳大利亚 / 弗朗西斯·安南 / 106分钟 / 逃离比勒陀利亚 / 剧情 / 犯罪...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar40"></span>
                                <span class="rating_nums">7.6</span>
                                <span class="pl">(22977人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_27046758"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/30176393/"  title="误杀">
                        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2576090251.jpg" width="75" alt="误杀" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/30176393/"  class="">
                        误杀
                        / <span style="font-size:13px;">误杀瞒天记中国版 / Sheep Without a Shepherd</span>
                    </a>


                        <span style="font-size: 13px; padding-left: 3px; color: #00A65F;">[可播放]</span>

                    <p class="pl">2019-12-07(大规模点映) / 2019-12-13(中国大陆) / 肖央 / 谭卓 / 陈冲 / 姜皓文 / 秦沛 / 边天扬 / 许文姗 / 张熙然 / 施名帅 / 黄健玮 / 谷洋 / 陈志朋 / 张林 / 中国大陆 / 柯汶利 / 112分钟 / 剧情 / 犯罪 / 悬疑 / 杨薇薇 Weiwei Yang / 翟培 / 李鹏...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar40"></span>
                                <span class="rating_nums">7.7</span>
                                <span class="pl">(485594人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_30176393"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/30401849/"  title="1/2的魔法">
                        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2575243691.jpg" width="75" alt="1/2的魔法" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/30401849/"  class="">
                        1/2的魔法
                        / <span style="font-size:13px;">二分之一的魔法 / 魔法环游记</span>
                    </a>



                    <p class="pl">2020-02-21(柏林电影节) / 2020-03-06(美国) / 汤姆·赫兰德 / 克里斯·帕拉特 / 茱莉亚·路易斯-德瑞弗斯 / 奥克塔维亚·斯宾瑟 / 梅尔·罗德里格斯 / 凯尔·柏海莫 / 丽娜·维特 / 黄阿丽 / 格蕾·德丽斯勒 / 崔茜·尤玛 / 维尔摩·瓦尔德拉玛...</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar40"></span>
                                <span class="rating_nums">7.9</span>
                                <span class="pl">(13008人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_30401849"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/30371819/"  title="热带雨">
                        <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2573124645.jpg" width="75" alt="热带雨" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/30371819/"  class="">
                        热带雨
                        / <span style="font-size:13px;">Wet Season</span>
                    </a>



                    <p class="pl">2019-09-08(多伦多电影节) / 2019-11-28(新加坡) / 杨雁雁 / 许家乐 / 李铭顺 / 杨世彬 / 新加坡 / 中国台湾 / 陈哲艺 / 103分钟 / 剧情 / 陈哲艺 Anthony Chen / 英语 / 汉语普通话 / 福建话</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar40"></span>
                                <span class="rating_nums">7.7</span>
                                <span class="pl">(13898人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_30371819"></div>
    <p class="ul"></p>
    <table width="100%" class="">
        <tr class="item">
            <td width="100" valign="top">
                

                    <a class="nbg" href="https://movie.douban.com/subject/30405087/"  title="火口的两人">
                        <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2556419282.jpg" width="75" alt="火口的两人" class=""/>
                    </a>
            </td>

            <td valign="top">
                

                <div class="pl2">

                    <a href="https://movie.douban.com/subject/30405087/"  class="">
                        火口的两人
                        / <span style="font-size:13px;">火口秘情 / 火口的二人</span>
                    </a>



                    <p class="pl">2019-08-23(日本) / 柄本佑 / 泷内公美 / 柄本明 / 日本 / 荒井晴彦 / 115分钟 / 火口的两人 / 爱情 / 情色 / 荒井晴彦 Haruhiko Arai / 白石一文 Kazufumi Shiraishi / 日语</p>

                    


                        
                        <div class="star clearfix">
                                <span class="allstar35"></span>
                                <span class="rating_nums">6.9</span>
                                <span class="pl">(11025人评价)</span>

                        </div>


                </div>

            </td>
        </tr>
    </table>
    <div id="collect_form_30405087"></div>
</div>


    </div>
    

            </div>
            <div class="aside">
                
    
  
  <div>
      <h2>分类排行榜 · · · · · ·<img style=" position: absolute;" src="https://img3.doubanio.com/f/shire/e49eca1517424a941871a2667a8957fd6c72d632/pics/new_menu.gif"></h2>
      <div class="types">
          <span><a href="/typerank?type_name=剧情&type=11&interval_id=100:90&action=">剧情</a></span>
          <span><a href="/typerank?type_name=喜剧&type=24&interval_id=100:90&action=">喜剧</a></span>
          <span><a href="/typerank?type_name=动作&type=5&interval_id=100:90&action=">动作</a></span>
          <span><a href="/typerank?type_name=爱情&type=13&interval_id=100:90&action=">爱情</a></span>
          <span><a href="/typerank?type_name=科幻&type=17&interval_id=100:90&action=">科幻</a></span>
          <span><a href="/typerank?type_name=动画&type=25&interval_id=100:90&action=">动画</a></span>
          <span><a href="/typerank?type_name=悬疑&type=10&interval_id=100:90&action=">悬疑</a></span>
          <span><a href="/typerank?type_name=惊悚&type=19&interval_id=100:90&action=">惊悚</a></span>
          <span><a href="/typerank?type_name=恐怖&type=20&interval_id=100:90&action=">恐怖</a></span>
          <span><a href="/typerank?type_name=纪录片&type=1&interval_id=100:90&action=">纪录片</a></span>
          <span><a href="/typerank?type_name=短片&type=23&interval_id=100:90&action=">短片</a></span>
          <span><a href="/typerank?type_name=情色&type=6&interval_id=100:90&action=">情色</a></span>
          <span><a href="/typerank?type_name=同性&type=26&interval_id=100:90&action=">同性</a></span>
          <span><a href="/typerank?type_name=音乐&type=14&interval_id=100:90&action=">音乐</a></span>
          <span><a href="/typerank?type_name=歌舞&type=7&interval_id=100:90&action=">歌舞</a></span>
          <span><a href="/typerank?type_name=家庭&type=28&interval_id=100:90&action=">家庭</a></span>
          <span><a href="/typerank?type_name=儿童&type=8&interval_id=100:90&action=">儿童</a></span>
          <span><a href="/typerank?type_name=传记&type=2&interval_id=100:90&action=">传记</a></span>
          <span><a href="/typerank?type_name=历史&type=4&interval_id=100:90&action=">历史</a></span>
          <span><a href="/typerank?type_name=战争&type=22&interval_id=100:90&action=">战争</a></span>
          <span><a href="/typerank?type_name=犯罪&type=3&interval_id=100:90&action=">犯罪</a></span>
          <span><a href="/typerank?type_name=西部&type=27&interval_id=100:90&action=">西部</a></span>
          <span><a href="/typerank?type_name=奇幻&type=16&interval_id=100:90&action=">奇幻</a></span>
          <span><a href="/typerank?type_name=冒险&type=15&interval_id=100:90&action=">冒险</a></span>
          <span><a href="/typerank?type_name=灾难&type=12&interval_id=100:90&action=">灾难</a></span>
          <span><a href="/typerank?type_name=武侠&type=29&interval_id=100:90&action=">武侠</a></span>
          <span><a href="/typerank?type_name=古装&type=30&interval_id=100:90&action=">古装</a></span>
          <span><a href="/typerank?type_name=运动&type=18&interval_id=100:90&action=">运动</a></span>
          <span><a href="/typerank?type_name=黑色电影&type=31&interval_id=100:90&action=">黑色电影</a></span>
      </div>
  </div>

    <!-- douban ad begin -->
    <div id="dale_movie_chart_top_right"></div>
    <!-- douban ad end -->

    
    <div class="movie_top" id="ranking">
    <div class="movie_top" id="ranking">
        
    
    
    <h2>一周口碑榜· · · · · · <span class="box_chart_num color-gray">4月3日 更新</span></h2>
    <ul class="content" id="listCont2">
        <li class="clearfix">
            <div class="no">1</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/33434927/" class="">
                    矿民、马夫、尘肺病
                </a>
            </div>
            <span class="">
                    <div class="up">10</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">2</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/33417030/" class="">
                    悲惨世界
                </a>
            </div>
            <span class="">
                    <div class="up">9</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">3</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/30426519/" class="">
                    从宫本到你
                </a>
            </div>
            <span class="">
                    <div class="up">1</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">4</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/26884422/" class="">
                    关于无尽
                </a>
            </div>
            <span class="">
                    <div class="up">7</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">5</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/34461680/" class="">
                    要强的人
                </a>
            </div>
            <span class="">
                    <div class="up">6</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">6</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/33401841/" class="">
                    时光机
                </a>
            </div>
            <span class="">
                    <div class="up">5</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">7</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/30283693/" class="">
                    特拉维夫在燃烧
                </a>
            </div>
            <span class="">
                    <div class="up">4</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">8</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/3077746/" class="">
                    触碰的双手
                </a>
            </div>
            <span class="">
                    <div class="up">3</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">9</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/30434902/" class="">
                    后会有期
                </a>
            </div>
            <span class="">
                    <div class="up">2</div>
            </span>
        </li>
        <li class="clearfix">
            <div class="no">10</div>
            <div class="name">
                <a onclick="moreurl(this, {from:'mv_week'})" href="https://movie.douban.com/subject/34670959/" class="">
                    无尽的战壕
                </a>
            </div>
            <span class="">
                    <div class="up">1</div>
            </span>
        </li>
    </ul>

    </div>

    <div class="movie_top" id="ranking">
        
    
    <h2>北美票房榜· · · · · · <span class="box_chart_num color-gray">3月13日 更新 / 美元</span></h2>
    <ul class="content" id="listCont1">
            
                <li class="clearfix">
                    <div class="no">1</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/30401849/" class="">
                            1/2的魔法
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">1053万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">2</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/34802738/" class="">
                            我仍然相信
                        </a>
                                <img src="https://img3.doubanio.com/f/shire/267048ed5190c4c6b513c2e559cae7ae8b8f0af5/pics/box_new.png" />
                    </div>
                    <span class="box_chart_num color-gray">950万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">3</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/4830483/" class="">
                            喋血战士
                        </a>
                                <img src="https://img3.doubanio.com/f/shire/267048ed5190c4c6b513c2e559cae7ae8b8f0af5/pics/box_new.png" />
                    </div>
                    <span class="box_chart_num color-gray">930万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">4</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/2364086/" class="">
                            隐形人
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">600万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">5</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/30182726/" class="">
                            狩猎
                        </a>
                                <img src="https://img3.doubanio.com/f/shire/267048ed5190c4c6b513c2e559cae7ae8b8f0af5/pics/box_new.png" />
                    </div>
                    <span class="box_chart_num color-gray">532万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">6</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/25905044/" class="">
                            刺猬索尼克
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">258万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">7</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/30345227/" class="">
                            回归之路
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">242万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">8</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/27199324/" class="">
                            野性的呼唤
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">224万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">9</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/30361878/" class="">
                            爱玛
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">137万</span>
                </li>
            
                <li class="clearfix">
                    <div class="no">10</div>
                    <div class="box_chart">
                        <a onclick="moreurl(this, {from:'mv_us_week'})" href="https://movie.douban.com/subject/4014397/" class="">
                            绝地战警：疾速追击
                        </a>
                    </div>
                    <span class="box_chart_num color-gray">110万</span>
                </li>
    </ul>

    </div>

    <!-- douban ad begin -->
    





<div class="mobile-app-entrance block5 app-movie">
    <a class="entrance-link" href="https://www.douban.com/doubanapp/frodo">
        <div class="entrance-qrcode">
            <img src="https://img3.doubanio.com/f/movie/a02f6ed325fc52e220f299d51e730c422e2bcd16/pics/movie/douban_app_ad/qrcode.png" alt="扫码下载豆瓣 App" width="80" height="80" />
        </div>
        <div class="entrance-info">
            <span class="app-icon icon-movie"></span>
            <span class="main-title">豆瓣</span>
            <span class="sub-title">你的移动观影指南</span>
        </div>
    </a>
</div>

    <!-- douban ad end -->

        <div class="indent">
            
    <div id="douban-top250">
        <div class="douban-top250-hd">
            <h2>豆瓣电影TOP250
                <span>
                    <a href="https://movie.douban.com/top250">全部&nbsp;</a>
                </span>
            </h2>
        </div>
        <div class="douban-top250-bd">
            
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1308767/?from=top250">
                    <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p667644866.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1308767/?from=top250" class="">
                    谍影重重2
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1297630/?from=top250">
                    <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2220184425.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1297630/?from=top250" class="">
                    第六感
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1291549/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p1910824951.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1291549/?from=top250" class="">
                    放牛班的春天
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
            <div class="clearfix rr" style="width:100%"></div>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/11525673/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2178872593.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/11525673/?from=top250" class="">
                    布达佩斯大饭店
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1300299/?from=top250">
                    <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2326071698.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1300299/?from=top250" class="">
                    杀人回忆
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1301753/?from=top250">
                    <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2277799019.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1301753/?from=top250" class="">
                    狮子王
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
            <div class="clearfix rr" style="width:100%"></div>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1291999/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p792381411.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1291999/?from=top250" class="">
                    重庆森林
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1294639/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p1374546770.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1294639/?from=top250" class="">
                    勇敢的心
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1291560/?from=top250">
                    <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2540924496.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1291560/?from=top250" class="">
                    龙猫
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
            <div class="clearfix rr" style="width:100%"></div>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/26874505/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2544912792.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/26874505/?from=top250" class="">
                    人生果实
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/26614893/?from=top250">
                    <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2522331945.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/26614893/?from=top250" class="">
                    完美陌生人
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
        <dl class="">
            <dt>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1294408/?from=top250">
                    <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2189265302.jpg" class="m_sub_img"/>
                </a>
            </dt>
            <dd>
                <a onclick="moreurl(this, {from:'mv_tops'})" href="https://movie.douban.com/subject/1294408/?from=top250" class="">
                    音乐之声
                </a>
                <span class="gact"></span><br/>
            </dd>
        </dl>
            <div class="clearfix rr" style="width:100%"></div>

        </div>
    </div>
    

        </div>
    </div>

            </div>
            <div class="extra">
                
    <!-- douban ad begin -->
    <div id="dale_movie_chart_bottom_banner"></div>
    <!-- douban ad end -->

            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2020 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    
    <!-- douban ad begin -->
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '199714520',
            browserId = 'ycWeZ9ccliI',
            criteria = '3:/chart',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_chart_top_right', 'dale_movie_chart_bottom_banner'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/eDRjYjNvdi9mL2FkanMvZTQ2YTNkMjgwYjBiMzc2OWE4YTI3MWFhMzI0NTQwMTBlMWY3OTYzMy9hZC5yZWxlYXNlLmpz');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    <!-- douban ad end -->

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- dae-web-movie--default-7b7665dcf7-8jbm5-->

  <script>_SPLITTEST=''</script>
</body>

</html>


